html, body {
    background-color: gainsboro;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img.title{
    display: block;
    max-width: 150px;
    margin: auto;
}

p.quote{
    font-weight: bold;
    font-size: 22px;
    color: whitesmoke;
    font-family: "D Sari Bold", Calibri, sans-serif;
    text-align: center;
}

.topbanner {
    padding-top: 1%;
    padding-bottom: 1%;
    height: max-content;
    border-bottom: 3px solid gold;
    background-color: #0B5584;
}

.left{
    float: left;
    border-right: 3px solid gold;
    width: 20%;
    height: 100%;
    min-height: 100%;
}

.right {
    float: left;
    border-left: 3px solid gold;
    width: available;
    height: 100%;
    min-height: 100%;
}

.middle {
    background-color: white;
    float: left;
    width: 60%;
    height: 100%;
    padding: 0 0 0 0;

}

li {
    float: left;
    font-weight: bold;
    font-family: "D Sari Bold", Calibri, sans-serif;
    font-size: 20px;
    width: 100%;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    /*background-color: aliceblue;*/
    overflow: hidden;
}

li a{
    display: inline-block;
    padding: 20px 40px;
    width: 100%;
    text-decoration: none;
}

li a:hover{
    background-color: #0B5584;
    color: whitesmoke;
    width: 100%;
}

thead, tbody {
    display: block;
}

tbody {
    height: 500px;
    overflow-y: auto;
}

#map {
    height: 100%;
}

#loadImg{position:absolute;z-index:999;}
#loadImg div{display:table-cell;width:200px;height:200px;background:#fff;text-align:center;vertical-align:middle;}